# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\decah\Documents\UOTTAWA-ST PAUL-NEW\Automne 2021\CSI 2510\Devoirs\Devoir1\ex2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
