# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\decah\Documents\UOTTAWA-ST PAUL-NEW\Hiver 2021\ITI 1521\Labo\Labo8\codes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
